<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="filename">src/main/java/hotelProject/logs</Property>
        <Property name="filename">src/main/java/homeWorkEight/logs</Property>
        <Property name="filename">src/main/java/homeWorkTen/reflection/logs</Property>
        <Property name="filename">src/main/java/homeWorkTen/stream/logs</Property>
        <Property name="filename">src/main/java/homeworkEleven/connectionPool/logs</Property>
        <Property name="filename">src/main/java/homeworkEleven/runnableAndThread/logs</Property>
        <Property name="filename">src/main/java/homeworkEleven/completableStageAndFuture/logs</Property>

    </Properties>
    <Appenders>
        <RollingFile name="file"
                     fileName="${filename}/logger.log"
                     filePattern="${filename}/logger-%d{HH-mm-ss-SSS}.log">
            <PatternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <SizeBasedTriggeringPolicy size="5000" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>

        <Logger name="hotelProject" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="homeWorkEight" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="homeWorkTen.reflection" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="homeWorkTen.stream" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="homeworkEleven.connectionPool" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="homeworkEleven.runnableAndThread" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="homeworkEleven.completableStageAndFuture" level="info" additivity="false">
            <AppenderRef ref="file"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>